@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: #ed553b;
  color: #ed553b;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  color: "green";
}

div#quote-box {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 32px 64px;
}

p#text {
  font-size: 2rem;
}

svg {
  padding-right: 8px;
}

p#author {
  font-size: 1.5rem;
  text-align: right;
}

button#new-quote {
  padding: 8px 16px;
  background-color: #ed553b;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: right;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}

a#tweet-quote {
  color: #ed553b;
  text-decoration: none;
}

div#buttonGroups {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
